<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.AutoScaling" version="3.3.2.3" targetFramework="net461" />
  <package id="AWSSDK.CloudWatch" version="3.3.4.3" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.4.20" targetFramework="net461" />
  <package id="AWSSDK.EC2" version="3.3.38" targetFramework="net461" />
  <package id="AWSSDK.ElasticLoadBalancing" version="3.3.1.6" targetFramework="net461" />
  <package id="AWSSDK.Lambda" version="3.3.9" targetFramework="net461" />
  <package id="AWSSDK.RDS" version="3.3.18" targetFramework="net461" />
</packages>