<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.AutoScaling" version="3.3.0.20" targetFramework="net461" />
  <package id="AWSSDK.CloudWatch" version="3.3.2.7" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.15" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.4.14" targetFramework="net461" />
  <package id="AWSSDK.ElasticLoadBalancing" version="3.3.1.1" targetFramework="net461" />
  <package id="AWSSDK.Lambda" version="3.3.7.1" targetFramework="net461" />
  <package id="AWSSDK.RDS" version="3.3.12.1" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
</packages>